{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="avatar" style="background: url({{instructor.avatar_url}}/500x500) no-repeat center center / cover"></section>
        <section class="details" style="">

            <form method="POST" action="/instrutores?_method=PUT">

                <h3>Editar Instrutor</h3>

                {% include "instructors/fields.njk" %}

                <input type="hidden" name="id" value="{{instructor.id}}">
            </form>

            <form id="form-delete" action="/instrutores?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{instructor.id}}">
                <button type="submit">Deletar</button>
            </form>

            {% include "delete.njk" %}

        </section>

    </div>

{% endblock content %}