{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="avatar" style="background: url({{member.avatar_url}}/500x500) no-repeat center center / cover"></section>
        <section class="details" style="">

            <form method="POST" action="/membros?_method=PUT">

                <h3>Editar Membro</h3>

                {% include "members/fields.njk" %}

                <input type="hidden" name="id" value="{{member.id}}">
            </form>

            <form id="form-delete" action="/membros?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{member.id}}">
                <button type="submit">Deletar</button>
            </form>

            <script src="script.js"></script>

        </section>

    </div>

{% endblock content %}